@charset "UTF-8";

@import 'modules/mixin';


$content-width: 1220px;
$content-padding: 15px;

/*---------------------
 common
---------------------*/
html {
  font-family: 'Noto Sans JP', sans-serif;
  --color--black: #000;
  --color--white: #FFF;
  --color--main: #793f05;
  --color--sub: #a67853;
  --color--sub2: #eb9212;
  --color--text: #333333;
  --color--bg: #fbf7f4;
  --color--bg2: #e4d8ce;
  --color--lgray: #f4f4f4;
  --color--gray: #CCC;
  scroll-behavior: smooth;
  scroll-padding-top: 220px;
  color: var(--color--text);
  font-size: 1em;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color--bg);

  & p {
    font-size: 1.3em;
    line-height: 1.8;
    ;
  }
}

img {
  max-width: 100%;
}

main {
  overflow-x: hidden;
}

section {
  position: relative;
}

.section_inner {
  max-width: $content-width;
  padding: 0 $content-padding;
  margin: 0 auto;
}

a {
  color: var(--color--black);
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.youtube {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.youtube iframe {
  width: 100%;
  height: 100%;
}

@media(max-width:1220px) {
  .mw250 {
    max-width: 360px;
    margin: 0 auto;
  }
}


@media(max-width:767px) {
  .hide-sp {
    display: none;
  }

  .mw250 {
    max-width: 250px;
    margin: 0 auto;
  }

  figure {
    margin: 0 10px;
  }
}

@media(min-width:768px) {
  .show-sp {
    display: none;
  }
}


/*---------------------
 svg
---------------------*/
.svg-sprite {
  position: relative;
  z-index: -1;
  width: 0;
  height: 0;
  display: none;
}

/*---------------------
 タブ
---------------------*/
.tab-list {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 30px auto 0;
  padding: 0;

  .tab-list-item {
    text-align: center;
    width: 32%;
    background-color: #eee;
    padding: 20px 10px;
    font-weight: 700;
    border-radius: 12px 12px 0 0;
    font-size: 1.1em;
  }
}



.tab-list-item.active {
  background-color: #facd20;
}

.tab-contents-item {
  display: none;
}

.tab-contents-item.show {
  display: block;
}

@media(max-width:767px) {
  .tab-list {
    margin: 20px auto 0;

    .tab-list-item {
      width: 33%;
      padding: 10px 5px;
      font-size: 0.9em;
    }
  }
}

/*---------------------
 header
---------------------*/
#gHeader {
  position: relative;
  transition: all linear 0.3s;
  width: 100%;
  margin:0 auto;

  & h1 {
    &.logo {
      display: block;
      text-indent: -99999px;
      width: 70px;
      height: 135px;

      & a {
        display: block;
        width: 70px;
        height: 135px;
        background: url(../img/logo.svg) no-repeat;
        background-size: cover;
      }
    }
  }

  & .pc-nav {
    & ul {
      display: flex;
      font-weight: 600;
      justify-content: space-between;
      & li {
        padding:0 10px;
      }
      &.sns{
        justify-content: end;
        margin: 30px 0;
        & li{
          margin-left: 20px;
          &.tel{
            & a{
              display: inline-block;
              font-size: 1.5em;
              background: url(../img/icon_tel.svg) no-repeat center left;
              background-size: 30px;
              padding-left: 35px;
            }
          }
          & img{
            width: 30px;
          }
        }
      }
    }

  }

  &.fixed {
    position: fixed;
    background: var(--color--bg);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    animation: navIn 1s 0.5s forwards;
    transform: translate(0, -150px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }

  & .section_inner {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    & h1 {
      line-height: 1;
      margin: 20px 0;
    }

    & .menus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      & ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        margin: 10px 10px 0 0;
        padding: 0;

        & li {

          border-right: 1px solid var(--color--black);

          & a {
            padding: 5px 20px;
            display: block;
            font-weight: 700;
            font-size: 1.2em;
          }
        }
      }
    }

    & .button {
      box-shadow: none;
      background: linear-gradient(to right, #ff6666, #9a0000);
      color: var(--color--white);
      text-align: center;
      padding: 10px 60px;
      margin: 10px 0;
      font-size: clamp(1.1em, 1.6vw, 1.6em);

      &:hover {
        transform: none;
      }
    }

    & .toggler {
      display: none;
      z-index: 2;
    }
  }
}

@media(max-width:960px) {
  #gHeader {
    & .section_inner {
      flex-wrap: wrap;
      & h1 {
        width: 60px;
        &.logo {
          width: 60px;
          height: 115px;
    
          & a {
            width: 60px;
          height: 115px;
          }
        }
      }
      & .toggler {
        display: block;
        margin-top: 0;
        width: 60px;

        & span {
          display: block;
          background: var(--color--main);
          width: 100%;
          height: 3px;
          margin: 8px 0;
          transition: transform linear .2s;

          &:nth-of-type(2) {
            width: 80%;
          }

          &:nth-of-type(3) {
            width: 60%;
          }
        }

        &:hover,
        &.is-active {
          & span {
            &:nth-of-type(1) {
              transform: translateY(12px) rotate(45deg);
              width: 90%;
            }

            &:nth-of-type(2) {
              display: none;
            }

            &:nth-of-type(3) {
              display: none;
            }

            &:nth-of-type(4) {
              transform: rotate(-45deg);
              width: 90%;
            }
          }
        }
      }
    }
    & .pc-nav{
      width:280px;
      & ul{
        &.sns{
           justify-content: start;
          & li{
            padding: 0;
            &.tel{
              padding: 0;
              & a{
                width: 35px;
                text-indent: -99999px;
                background-size: 35px;
                padding-left: 0;
              }
            }
            & img{
              width: 30px;
            }
          }
        }
        &.navigation{
          display: none;
        }
      }
      
    }
    &.fixed{
      & .logo{
        display: none;
      }
      & .pc-nav{
        & ul{
          &.sns{
           margin-top: 30px
          }
          &.navigation{
            display: none;
          }
        }
        
      }
    }
  }
}


@keyframes navIn {
  0% {
    transform: translate(0, -150px);
  }

  100% {
    transform: translate(0, 0);
  }
}


/*---------------------
 button
---------------------*/
a.button {
  background: var(--color--sub2);
  color: var(--color--balck);
  text-align: center;
  padding: 10px 20px;
  display: block;
  border-radius: 30px;
  font-size: clamp(1.3em, 2.4vw, 2.4em);
  font-weight: 700;
  box-shadow: 5px 14px 0 var(--color--main);
  transition: all linear 0.2s;

  &:hover {
    transform: translateY(14px);
    box-shadow: none;
  }
}

/*---------------------
 H
---------------------*/
h1,
h2,
h3,
h4 {
  font-family: 'Noto Sans JP', serif;
  font-weight: 600;
}

h1 {
  font-size: clamp(1.8em, 2.4vw, 2.4em);
}

h2 {
  font-size: clamp(1.6em, 2.7vw, 2.7em);
  line-height: 1;
  margin-top: 0.4em;
}

h3 {
  font-size: clamp(1.3em, 1.8vw, 1.8em);
  color: var(--color--sub2);

  &.subtitle {
    font-size: clamp(1.3em, 2.2vw, 2.2em);
    color: var(--color--text);
    text-align: center;

    &.asCase {
      display: inline-block;
      font-size: clamp(1.2em, 1.6vw, 1.6em);
      position: relative;
      margin-bottom: 0;

      &:before {
        position: absolute;
        content: '';
        left: -20px;
        top: 5px;
        width: 2px;
        height: 30px;
        background: var(--color--text);
        transform: rotate(-30deg);
      }

      &:after {
        position: absolute;
        content: '';
        right: -20px;
        top: 5px;
        width: 2px;
        height: 30px;
        background: var(--color--text);
        transform: rotate(30deg);
      }
    }

  }
}

.lead {
  font-size: clamp(1em, 1.3vw, 1.3em);
  line-height: 2;
}


/*---------------------------
 * flex-wrapper
 * -------------------------*/
.flex-wrapper.half,
.flex-wrapper.one-third,
.flex-wrapper.quarter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-wrapper.reverse {
  flex-direction: row-reverse;
}

.flex-wrapper.four:after {
  display: block;
  content: '';
  width: 24%;
}

.flex-wrapper .flex-one {
  width: 100%;
}

.flex-wrapper.half .flex-one {
  width: 48%;
}

.flex-wrapper.one-third .flex-one {
  width: 32%;
}

.flex-wrapper.quarter .flex-one {
  width: 48%;
}

.flex-wrapper.quarter .flex-three {
  width: 48%;
}

@media(min-width:768px) {
  .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .flex-wrapper.two .flex-one {
    width: 48%;
  }

  .flex-wrapper.three .flex-one {
    width: 31%;
  }

  .flex-wrapper.three .flex-two {
    width: 64%;
  }

  .flex-wrapper.four .flex-two {
    width: 48%;
  }

  .flex-wrapper.four .flex-one {
    width: 23%;
  }

  .flex-wrapper.four .flex-three {
    width: 72%;
  }

  .flex-wrapper.five .flex-one {
    width: 18%;
  }

  .flex-wrapper.six .flex-one {
    width: 15%;
  }

  .flex-wrapper.quarter .flex-one {
    width: 24%;
  }

  .flex-wrapper.quarter .flex-three {
    width: 72%;
  }
}

/*---------------------
 table
---------------------*/
.table_wrapper{
  overflow-y: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: #CCC 3px solid;
  background: var(--color--white);
}

table th {
  border: 1px solid #CCC;
  padding: 10px;
}

table td {
  border: 1px solid #CCC;
  padding: 10px;
}

/*---------------------
 ul
---------------------*/
ul.check {
  list-style: none;
  padding: 0 0 2em 0;
  font-size: clamp(1.1em, 1.4vw, 1.4em);
  font-weight: 600;

  & li {
    padding: 8px 0;
    background: url(../img/icon_check.svg) no-repeat center left;
    background-size: 25px;
    padding-left: 35px;
  }
}

/*---------------------
 animate-title
---------------------*/
.animate-title,
.tween-animate-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  font-size: 2em;

  &.inview {
    opacity: 1;

    & .char {
      display: inline-block;
    }
  }

  & .char {
    opacity: 0;
  }
}

.animate-title.inview .char {
  @include animation($name: kf-animate-chars,
    $duration: 0.5s,
    $timing-function: cubic-bezier(0.39, 1.57, 0.58, 1),
    $fill-mode: both);

  @for $i from 1 through 30 {
    &:nth-child(#{$i}) {
      animation-delay: $i * 0.04s;
    }
  }
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*---------------------
 #hero
---------------------*/
#hero {
  background: url(../img/bg_mv.jpg) no-repeat bottom center;
  background-size: cover;
  min-height: 640px;
  padding: 1em $content-padding 10vw;
  margin-bottom: 5vw;

  & .hero_inner {
    max-width: 1220px;
    margin: 0 auto;
    & article{
      margin-top: 2vw;
      font-size: clamp(1.2em,1.8vw,1.8em);
      font-weight: 600;
      & .catch_line1{
        color: var(--color--main);
        margin-bottom: 10px;
      }
      & .dashed{
        display: inline-block;
        border-bottom: 2px dashed #777;
        font-size: 1.4em;
        color: var(--color--text);
        margin-bottom: 10px;
      }
    }
  }
}



@media(max-width:767px) {
  #hero {
    min-height: 80vh;
    & .hero_inner {
      & article{
        margin-top: 2vw;
        font-size: clamp(1.1em,1.5vw,1.5em);
        font-weight: 600;
        & .dashed{
          font-size: 1.2em;
        }
      }
    }
  }
}

/*---------------------
 main
---------------------*/
.title_wrapper {
  text-align: center;

  & .title_en {
    color: var(--color--main);
    font-weight: 600;
    font-size: clamp(1.3em, 2.7vw, 2.7em);

    & span {
      display: inline-block;
      border-bottom: 5px solid var(--color--main);
    }
  }
}

.date {
  display: inline-block;
  background: var(--color--sub);
  color: var(--color--white);
  font-weight: 600;
  font-size: clamp(1.2em, 2.2vw, 2.2em);
  padding: 10px 80px;
  margin: 0;
  border-radius: 40px;
}


@media(max-width:767px) {
  .date {
    font-size: clamp(1em, 2.2vw, 2.2em);
    padding: 10px 20px;
    text-align: center;
  }
}



/*---------------------
 #sec_about
---------------------*/
section#sec_about {
  padding: 2vw 0 8vw;

  & h2 {
    text-align: center;
    background: url(../img/script_about.png) no-repeat top 60% right 30%;
    padding: 30px 0 70px;
  }

  & p {
    &.lead {
      text-align: center;
      margin-bottom: 4vw;

      & strong {
        color: var(--color--sub);
      }
    }
  }

  & article{
    margin: 4vw 0;
    & .icon{
      margin-top: 20px;
      display: inline-block;
      padding:5px 20px;
      border:2px dashed var(--color--text);
      border-radius: 12px;
      font-size: clamp(1.1em,1.5vw,1.5em);
      font-weight: 700;
    }
    & h3{
      margin:15px 0;
    }
    & img{
      border-radius: 50%;
      padding:7px;
      border:2px dashed var(--color--text);
    }
  }

}

@media(max-width:767px) {
  section#sec_about {
    & h2 {
      background-size: 180px;
    }
    & article{
      & img{
        border-radius: 50%;
        padding:7px;
        border:2px dashed var(--color--text);
        max-width: 220px;
      }
    }
  }
}

/*---------------------
 #sec_creative
---------------------*/
section#sec_creative {
  position: relative;
  margin-bottom: 6vh;

  & .bg {
    position: absolute;
    width: 50%;
    min-height: 900px;
  }

  & article {
    padding: 2vw 0;
    padding-left: 55%;

    & h2 {
      text-align: center;
      background: url(../img/script_creative.png) no-repeat top 60% right 30%;
      padding: 30px 0 70px;
    }
  }
}

@media(max-width:767px) {
  section#sec_creative {
    & .bg {
      position: relative;
      width: 90%;
      min-height: auto;
    }
  
    & article {
      padding-left: 0;
  
      & h2 {
        background-size: 240px;
      }
    }
  }
}


/*---------------------
 #sec_video
---------------------*/
section#sec_video {
  padding: 6vw 0;

  & h2 {
    text-align: center;
    background: url(../img/script_video.png) no-repeat top 60% right 30%;
    padding: 30px 0 70px;
  }

  & article {
    max-width: 1000px;
    margin: 4vh auto;
  }

  & .flex-wrapper {
    margin-bottom: 2em;

    & .flex-one{
      & img{
        border-radius: 12px;
      }
    }

    & .flex-three {
      & h3 {
        margin: 0 0 15px 0;
        line-height: 1;
      }

      & p {
        font-size: 1.2em;
        margin: 5px 0;

        &.price {
          & strong {
            font-size: 1.5em;
            font-weight: 600;
          }
        }
      }

      

      & .buttonarea {
        text-align: right;
        & a{
          display: inline-block;
          background: url(../img/ixon_btn.png) no-repeat center right 10px;
          padding: 2px 40px 5px 30px;
          border-radius: 30px;
          font-weight: 600;
          transition: all ease 0.3s;
          &:hover{
            background-color: var(--color--sub2);
            color:var(--color--white)
          }
        }
      }
    }
  }

  & table {
    max-width: 1000px;
    margin: 30px auto;
    & tbody{
      & td{
        text-align: center;
      }
    }
  }
}

@media(max-width:767px) {
  section#sec_video {
    & h2 {
      background-size: 320px;
    }
    & .flex-wrapper {
      & .flex-one{
        & img{
          margin-bottom: 15px;
        }
      }
      & .flex-three {
        & .buttonarea {
          & a{
            font-size: 0.9em;
          }
        }
      }
    }
    & table{
      width: 600px;
    }
  }
}


/*---------------------
 #sec_vr
---------------------*/
section#sec_vr {
  padding: 6vw 0;

  & h2 {
    text-align: center;
    background: url(../img/script_vr.png) no-repeat top 60% right 30%;
    padding: 30px 0 70px;
  }

  & article {
    max-width: 1000px;
    margin: 4vh auto;
  }

  & .flex-wrapper {
    margin-bottom: 2em;

    & .flex-one{
      & img{
        border-radius: 12px;
      }
    }

    & .flex-three {
      & h3 {
        margin: 0 0 15px 0;
        line-height: 1;
      }

      & p {
        font-size: 1.2em;
        margin: 5px 0;

        &.price {
          & strong {
            font-size: 1.5em;
            font-weight: 600;
          }
        }
      }

      & .buttonarea {
        text-align: right;
      }
    }
  }
  & table {
    max-width: 1000px;
    margin: 30px auto;
  }
}

@media(max-width:767px) {
  section#sec_vr {
    & h2 {
      background-size: 320px;
    }
    & .flex-wrapper {
      & .flex-one{
        & img{
          margin-bottom: 15px;
        }
      }
      & .flex-three {
        & .buttonarea {
          & a{
            font-size: 0.9em;
          }
        }
      }
    }
    & table{
      width: 600px;
    }
  }
}



/*---------------------
 #sec_support
---------------------*/

section#sec_support {
  position: relative;
  margin-bottom: 6vh;
  & .bg {
    position: absolute;
    width: 50%;
    left:50%;
    min-height: 900px;
  }
  & article {
    padding: 2vw 0;
    padding-right: 55%;
    & h2 {
      text-align: center;
      background: url(../img/script_support.png) no-repeat top 60% right 30%;
      padding: 30px 0 70px;
    }
  }
}

@media(max-width:767px) {
  section#sec_support {
    & .bg {
      position: relative;
      width: 90%;
      left:10%;
      min-height: auto;
    }
  
    & article {
      padding-right: 0;
  
      & h2 {
        background-size: 300px;
      }
    }
  }
}


/*---------------------
 #sec_flow
---------------------*/
section#sec_flow {
  padding: 4vw 0;

  & h2 {
    text-align: center;
    background: url(../img/script_flow.png) no-repeat top 60% right 30%;
    padding: 30px 0 70px;
  }

  & h3 {
    &.comment {
      font-size: clamp(1.4em, 2.4vw, 2.4em);
      text-align: center;

      & strong {
        font-size: 1.8em;
        color: var(--color--main);
      }
    }
  }

  p{
    &.lead{
      text-align: center;
      font-size: clamp(1.2em, 1.5vw, 1.5em);
      color:var(--color--sub2);
    }
  }

  & .button {
    background: var(--color--white);
    border-radius: 60px;
    max-width: 430px;
    margin: 30px auto;
    font-size: clamp(1.3em, 2.8vw, 2.8em);
    padding: 15px;

    & img {
      width: 60px;
    }
  }

  & .flex-wrapper {
    padding: 2em;

    & .flex-one {
      position: relative;
      background: var(--color--white);
      border-radius: 20px;
      padding: 2em;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      width: 30%;

      & .step {
        position: absolute;
        top: -40px;
        left:50%;
        transform: translateX(-50%);
      }

      &::after {
        position: absolute;
        display: block;
        content: '';
        background: url(../img/arrow_oarange_right.png) no-repeat center;
        width: 60px;
        height: 100%;
        top: 0;
        right: -60px;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }

      & figure {
        text-align: center;
        padding-top: 1em;

        & img {
          height: 120px;
        }
      }

      & h5 {
        font-size: clamp(1.3em, 1.8vw, 1.8em);
        font-weight: 600;
        color:var(--color--sub2);
        text-align: center;
        margin: 0 0 10px 0;
      }

      & p {
        line-height: 1.6;
        font-size: clamp(1.2em, 1.3vw, 1.3em);
      }
    }
  }
}

@media(max-width:767px) {
  section#sec_flow {
    & h2 {
      background-size: 220px;
    }
    & .flex-wrapper {
      padding: 0;
      margin-top: 60px;

      & .flex-one {
        width: 100%;
        margin-bottom: 50px;
        padding: 1em;

        & h5 {
          height: auto;
        }

        & figure {
          margin-bottom: 20px;

          & img {
            width: 100px;
          }
        }

        &::after {
          display: none;
        }
      }
    }
  }
}


/*---------------------
 #sec_case
---------------------*/
section#sec_case {
  padding: 2vw 0;

  & h2 {
    text-align: center;
    background: url(../img/script_case.png) no-repeat top 60% right 30%;
    padding: 30px 0 70px;
  }
}

@media(max-width:767px) {
  section#sec_case {
    & h2 {
      background-size: 170px;
    }
  }
}


section.cases {
  position: relative;
  & article {
    padding: 2vw 0;
    padding-left: 55%;
    & .number{
      font-weight: 600;
      font-size: clamp(1.1em, 1.5vw, 1.5em);
    }
    & h3{
      margin: 0.3em 0 1em 0;
      color: var(--color--text);
      font-size: clamp(1.6em, 2.2vw, 2.2em);
    }
    & .profile{
      font-weight: 600;
      margin: 0;
      font-size: clamp(1.2em, 1.5vw, 1.5em);
    }
    & ul{
      &.tags{
        list-style: none;
        padding:0;
        display: flex;
        & li{
          background: var(--color--sub2);
          font-size: 1.1em;
          color:var(--color--white);
          font-weight: 600;
          padding:1px 14px;
          border-radius: 20px;
          margin-right: 7px;
        }
      }
    }
    & .price{
      & strong{
        font-size: 1.8em;
        font-weight: 600;
      }
    }
    & .youtube{
      position: relative;
      & .palybtn{
        position: absolute;
        bottom:-60px;
        right:40px;
        & img{
          transition: center center;
          animation: btnExpand 2s infinite;
        }
      }
    }
    & p{
      &.small{
        font-size: 0.9em;
        margin: 0 0 1em 0;
      }
    }
  }
}


@keyframes btnExpand{
  0%{
    transform: scale(1);
    opacity: 1;
  }
  100%{
    transform: scale(1.1);
    opacity: 0;
  }
}
/*---------------------
 #sec_case01
---------------------*/

section#sec_case01 {
  margin-bottom: 6vh;
  & .bg {
    position: absolute;
    width: 50%;
    left:0;
    min-height: 900px;
  }
}

@media(max-width:767px) {
  section#sec_case01 {
    margin-bottom: 12vh;
    & .bg {
      position: relative;
      width: 90%;
      min-height: auto;
      margin-bottom: 15px;
    }
  
    & article {
      padding-left: 0;
  
      & h2 {
        background-size: 300px;
      }
      & .youtube{
          & .palybtn{
            right: 20px;
            & img{
              width: 100px;
            }
        }
      }
    }
  }
}


/*---------------------
 #sec_case02
---------------------*/
section#sec_case02 {
  margin-bottom: 6vh;
  & .bg {
    position: absolute;
    width: 50%;
    left:50%;
    min-height: 900px;
  }
  & article {
    padding-left:0;
    padding-right: 55%;
  }
}

@media(max-width:767px) {
  section#sec_case02 {
    margin-bottom: 12vh;
    & .bg {
      position: relative;
      width: 90%;
      margin-left: 10%;
      left:0;
      min-height: auto;
      margin-bottom: 15px;
    }
  
    & article {
      padding-right: 0;
  
      & h2 {
        background-size: 300px;
      }
      & .price{
        margin-bottom: 15px;;
      }
      & .youtube{
        & .palybtn{
          right: 20px;
          & img{
            width: 100px;
          }
      }
    }
    }
  }
}


/*---------------------
 #sec_contact
---------------------*/
section#sec_contact {
  padding: 6vw 0;

  & h2 {
    text-align: center;
    background: url(../img/script_contact.png) no-repeat top 60% right 30%;
    padding: 30px 0 70px;
  }

  & p {
    &.lead {
      text-align: center;
        color: var(--color--sub2);
        font-weight: 600;
    }
  }

  & .form_item{
    max-width: 800px;
    margin:0 auto ;
    padding-bottom: 20px;
    & h4{
      margin-bottom: 10px;
    }
    & span{
      &.require{
        display: inline-block;
        padding: 1px 5px;
        text-align: center;
        background: #cc0000;
        color:var(--color--white);
        font-size: 12px;
        border-radius: 3px;
      }
      &.option{
        display: inline-block;
        padding: 1px 5px;
        text-align: center;
        background: #999;
        color:var(--color--white);
        font-size: 12px;
        border-radius: 3px;
      }
    }
  }
}


@media(max-width:767px) {
  section#sec_contact {
    & h2 {
      background-size: 280px;
    }
  }
}


/*---------------------
 #sec_thanks
---------------------*/
section#sec_thanks {
  height: 80vh;
  padding-top: 6vw;
  & h2 {
    text-align: center;
    background: url(../img/script_contact.png) no-repeat top 60% right 30%;
    padding: 30px 0 70px;
  }
  & p{
    text-align: center;
  }
  
}


@media(max-width:767px) {
  section#sec_thanks {
    height: 60vh;
    & h2 {
      background-size: 280px;
    }
    & p{
      text-align: left;
    }
  }
}



/*---------------------
 footer
---------------------*/
footer {
  background: var(--color--bg2);
  padding: 2vw 0;
  & .flex-wrapper{
    align-items: center;
    & .logoArea {
      align-items: center;
    }
  
    & ul {
      margin: 0;
  
      &.menu {
        display: flex;
        list-style: none;
        justify-content: center;
  
        & li {
          display: block;
          color: var(--color--white);
          padding: 20px;
        }
      }
    }
  }
  
}

.copyright {
  font-size: 0.9em;
  padding: 2vh 20px;
  text-align: center;

}


@media(max-width:767px) {
  footer {
    & ul {
      padding: 0 0 15px 0;
      &.nav {
        display: block;

        & li {
          list-style: none;
          width: 100%;

          & a {
            display: block;
            padding: 7px;

          border-bottom: 1px solid var(--color--gray);
          }
        }
      }
    }
    & .logo{
      margin: 15px 0;
    }
  }
}

.fixed_button {
  position: fixed;
  right: 10px;
  bottom: 30px;
  background: var(--color--white);
  padding: 15px 20px 30px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
  text-align: center;

  & h5 {
    font-size: clamp(1.2em, 1.3vw, 1.3em);
    margin: 0 0 10px 0;
  }

  & img {
    box-shadow: 5px 14px 0 var(--color--black);
    transition: all linear 0.2s;
    border-radius: 10px;
  }

  &:hover {
    & img {
      transform: translateY(14px);
      box-shadow: none;
    }
  }
}

@media(max-width:767px) {
  .fixed_button {
    padding: 10px 10px 20px 10px;
    border-radius: 10px;
    text-align: center;

    & h5 {
      margin-bottom: 5px;
    }

    & img {
      width: 100px;
      box-shadow: 4px 10px 0 var(--color--black);
    }

    &:hover {
      & img {
        transform: translateY(14px);
        box-shadow: none;
      }
    }
  }
}

/*----------------------------
* form
*----------------------------*/

input[type=text],
input[type=tel],
input[type=email],
textarea {
  width: 100%;
  background: var(--color--white);
  border: 1px solid #CCC;
  border-radius: 6px;
  padding: 0.5em;
}

textarea {
  height: 15em;
  font-size: 1.2em;
  padding:15px;
}

input[type=checkbox] {
  margin-right: 5px;
}

input[type=radio] {
  margin-right: 5px;
}

input+p {
  margin-top: 5px;
}

label {
  margin-right: 15px;
  &.radioLabel{
    font-size: 1.1em;
  }
  &.error{
    display: block;
    color:#cc0000;
    margin-bottom: 5px;
  }
}

input[type=submit] {
  background: var(--color--sub2);
  color: var(--color--white);
  padding: 8px 30px;
  display: block;
  border-radius: 40px;
  text-align: center;
  margin: 10px auto;
  font-size: 1em;
}

input[type=button] {
  background: #999;
  color: var(--color--white);
  padding: 8px 30px;
  display: block;
  border-radius: 40px;
  text-align: center;
  margin: 10px auto;
  font-size: 1em;
}


/*----------------------------
* スマホメニュー
*----------------------------*/
#navAll {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #555;

  .menu__item {
    width: 100%;
    height: auto;
    padding: .5em 1em;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
  }

}

/* アニメーション前のメニューの状態 */
#navAll {
  pointer-events: none;
  opacity: 0;
  transform-origin: center;
  transform: scale(.5);
  transition: all .3s ease;

  & ul {
    list-style: none;

    & li {
      & a {
        color: var(--color--white);
        display: block;
        padding: 10px 0;
      }
    }
  }
}

/* アニメーション後のメニューの状態 */
#navAll.is-active {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1.0);
}



/* 
hamburger(ハンバーガーアイコン)
=================================== */
@media(min-width:960px) {
  .nav-wrapper {
    display: none;
  }
}


.hamburger {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  z-index: 300;
}

.hamburger__line {
  position: absolute;
  width: 50px;
  height: 3px;
  right: 0;
  background-color: #000;
  transition: all 0.5s;
}

.hamburger__line--1 {
  top: 1px;
}

.hamburger__line--2 {
  top: 18px;
}

.hamburger__line--3 {
  top: 36px;
}

/*ハンバーガーがクリックされたら*/
.open .hamburger__line--1 {
  transform: rotate(-45deg);
  top: 11px;
}

.open .hamburger__line--2 {
  opacity: 0;
}

.open .hamburger__line--3 {
  transform: rotate(45deg);
  top: 11px;
}


/* 
  sp-nav(ナビ)
  =================================== */

.sp-nav {
  position: fixed;
  top: -100vh;
  /*ハンバーガーがクリックされる前はWindow上部に隠す*/
  left: 0;
  width: 100%;
  /* 出てくるスライドメニューの幅 */
  height: auto;
  background-color: #fff;
  transition: all 0.5s;
  z-index: 200;
  overflow-y: auto;
}

/*ハンバーガーがクリックされたら上からスライド*/
.open .sp-nav {
  top: 0;
}

.sp-nav ul {
  list-style: none;
  padding: 30px;
}

.sp-nav ul li {
  margin-bottom: 20px;
}


/* 
  black-bg(ハンバーガーメニュー解除用bg)
  =================================== */
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 100;
}

/*ハンバーガーメニューが開いたら表示*/
.open .black-bg {
  opacity: 0.3;
  visibility: visible;
}